.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.input {
  outline: none;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 17px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.input::placeholder {
  font-weight: 600;
  opacity: 1;
}

#login-button {
  display: block;
  font-weight: 500;
  font-size: medium;
}
